# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]

# ==========================================
# Virtual Environment
# ==========================================
venv/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Model Artifacts
# ==========================================
*.pkl
model/artifacts/*.json

# ==========================================
# Database
# ==========================================
*.db

# ==========================================
# MLflow
# ==========================================
mlruns/

# ==========================================
# IDEs
# ==========================================
.idea/
.vscode/

# ==========================================
# Packaging
# ==========================================
*.egg-info/
dist/
build/

# ==========================================
# Testing
# ==========================================
.pytest_cache/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db